proj_questasim/work/
proj_questa/
proj_questa/work/@_opt1/_data/
proj_questa/work/@_opt1
proj_quartus/output_files/
proj_questasim/vsim.wlf
**/db/
**/incremental_db/
*.bak
*.wlk
*.ini
**/output_files/*.*
**/output_files/!*.sof
**/proj_quartus/greybox_tmp
*.mti
*.mpf
*.qws
*.ppf
*.qip
*.qdb
*.jar

transcript
!*.sof
